/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @You in DTLA
*/

body {
    font-family: 'Montserrat', sans-serif;
}
h2 {
    color: #FF8A23;
    font-weight: 800;
    font-size: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#home, #mission, footer {
    background-color: #3A3A3A;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center;
}

.teamheader  {
	text-align:center!important;
	 display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}


.footer, .small {
	color: white;
		font-size: 14px;
}


.navbar-brand {
	font-size: 32px; 
	font-weight: 900;
	color: #FF8A23;
}

#mission, footer {
	padding-top: 50px;
  padding-bottom: 50px;
}


.missionbody {
	color: white;
}


#about {
    background-color: #EFEFEF;
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

#team {
	background-color: #EFEFEF;
    width: 100%;
    height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#team h2 {
	  text-align: right; 
    display: inline;    
}



h3{
	padding-top: 10px;
	font-size: 25px;
	font-weight: 800;
	color: #3A3A3A;
}

h4 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #FF8A23; 
}